.pages__wrapper {
  display: flex;
  justify-content: center;
  align-content: center;

  button {
    color: black;
    cursor: pointer;
    font-weight: 500;
    margin: 0px 10px;
    margin-top: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 2px solid gray;
    transition: all 0.5s;
  }

  button:hover {
    font-weight: 900;
    background-color: rgb(210, 210, 210);
  }
}
